body {
  padding-top: 70px;
}

#public-map {
  padding-left: 30px;
  width: 450px;
  height: 400px;
}

#inspector {
  padding-left: 30px;
}

#ticker-table {
  max-height: 200px;
  overflow-y: scroll;
}

.plot {
  padding: 60px;
  height: 200px;
  width: 550px;
}

.itic-badge {
    margin-left: 10px;
}

.itic-no-interruption {
    background: #008000;
}

.itic-no-damage {
    background: #ffff00;
}

.itic-prohibited {
    background: #ff0000;
}

.leaflet-num-icon {
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border: solid 5px;
  border-radius: 20px;
  padding-top: 5px;
  background: white;
  font-weight: bold;
  font-size: large;
  background: rgba(255, 255, 255, 0.7);
}

.leaflet-num-devices {
  left: 5px;
  top: 5px;
  color: green;

}

.leaflet-num-events {
  left: 5px;
  top: -55px;
  color: red;
}

.verror {
  text-align: center;
  color: red;
  font-weight: bold;
}

/* Legend Styles */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}


