logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/public/dev/contrib
*.swp
*DS_Store
*.DS_Strore
*._.DS_Store
deploy.sh
*.old
*.gz
*.out
*.autosave
