@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@
@(opqDevices: List[OpqDevice])

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@admin("Data Administration",
  "This page allows you to configure whether or not you want to anonymously share your power quality data.") {

  <div class="span9">
    <table class="table table-striped">
      @if(flash.contains("updated")) {
        <p class="success">
        @flash.get("updated")
        </p>
      }
      <thead>
        <th>Device Id</th>
        <th>Description</th>
        <th>Data Sharing</th>
        <th><!-- Left blank for update button --></th>
      </thead>
      <tbody>
        @for(opqDevice <- opqDevices) {
          <tr>
            <td>@opqDevice.getDeviceId</td>
            <td>@opqDevice.getDescription</td>
            <td>
              @if(opqDevice.getSharingData) {
                Yes
              } else {
                No
              }
            </td>

            <td>
              <a href="@routes.Administration.editDataSharing(opqDevice.getDeviceId)" class="btn btn-warning pull-right">
                Update
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>


}