@*
    This file is part of opq-ao.

    opa-ao is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    opa-ao is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with opq-ao.  If not, see <http://www.gnu.org/licenses/>.

    Copyright 2013 Anthony Christe
*@

@admin("Device Administration",
    "This page allows you to add and configure devices.") {
    <div class="span6">
        <form class="form-vertical well well-small">
            <label class="control-label">
                <b>Register New OPQ Device</b>
            </label>
            <br>
            <div>
                <input type="text" class="input-medium">
                <span class="help-inline">OPQ Device ID</span>
            </div>
            <input type="text" class="input-medium">
            <span class="help-inline">Description</span>
            <button type="submit" class="btn btn-primary pull-right">Register Device</button>
        </form>
        <table class="table well well-small">
            <thead>
                <tr>
                    <th>Registered OPQ Devices</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0123-4567-89AB-CDEF</td>
                    <td>Home</td>
                    <td>
                        <a class="btn btn-danger pull-right">Remove</a>
                    </td>
                </tr>
                <tr>
                    <td>ABCD-EF01-2345-6789</td>
                    <td>Office</td>
                    <td>
                        <a class="btn btn-danger pull-right">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span2 well well-small">
        <p>
            <b>Register new OPQ device</b>
            <br> The device ID is a squence of 16 characters and letters that should have
            been supplied with your OPQ device.
        </p>
        <p>
            <b>Registered OPQ Devices</b>
            <br> This lists the devices that are currently registered to your account.
            <br>
            <br>
            <br>
        </p>
    </div>
}