@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@

@(alertNotificationForm: Form[AlertNotification],
    alertNotificationForms: List[Form[AlertNotification]],
    deviceIds: List[String])

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@admin("Alert Administration",
  "This page allows you to manage and create power quality events.") {
  <div class="span9">

    <table class="table well well-small">
      @if(flash.contains("updated")) {
        <p class="success">
        @flash.get("updated")
        </p>
      }
      @if(flash.contains("added")) {
        <p class="success">
        @flash.get("added")
        </p>
      }
      <thead>
        <tr>
          <th>Device Id</th>
          <th>Voltage Alert</th>
          <th>Min. Voltage</th>
          <th>Max. Voltage</th>
          <th>Frequency Alert</th>
          <th>Min. Frequency</th>
          <th>Max. Frequency</th>
          <th>Device Alert</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        @for(alertForm <- alertNotificationForms) {
          @form(routes.Administration.updateAlert(alertForm("primaryKey").value), 'class -> "form-inline") {
            <tr>
              <td>@inputText(alertForm("deviceId"), '_showConstraints -> false, '_label -> "", 'class -> "",
                'readonly -> "readonly")</td>
              <td>@checkbox(alertForm("voltageAlertNotification"), '_showConstraints -> false, '_label -> "")</td>
              <td>@inputText(alertForm("minAcceptableVoltage"), '_showConstraints -> false, '_label -> "",
                'class -> "input-mini")</td>
              <td>@inputText(alertForm("maxAcceptableVoltage"), '_showConstraints -> false, '_label -> "",
                'class -> "input-mini")</td>
              <td>@checkbox(alertForm("frequencyAlertNotification"), '_showConstraints -> false, '_label -> "")</td>
              <td>@inputText(alertForm("minAcceptableFrequency"), '_showConstraints -> false, '_label -> "",
                'class -> "input-mini")</td>
              <td>@inputText(alertForm("maxAcceptableFrequency"), '_showConstraints -> false, '_label -> "",
                'class -> "input-mini")</td>
              <td>@checkbox(alertForm("deviceAlertNotification"), '_showConstraints -> false, '_label -> "")</td>
              <td><input type="submit" class="btn btn-warning pull-right" value="Update"></td>
            </tr>
          }
        }
        @form(routes.Administration.saveAlert(), 'class -> "form-inline") {
          <tr>
            <td>
            @select(
              alertNotificationForm("deviceId"),
              options = options(deviceIds),
              '_label -> "",
              'class -> "",
              '_default -> "--- Select Device ---",
              'id -> "deviceId")
            </td>
            <td>@checkbox(alertNotificationForm("voltageAlertNotification"), '_showConstraints -> false,
              '_label -> "")</td>
            <td>@inputText(alertNotificationForm("minAcceptableVoltage"), '_showConstraints -> false,
              'placeholder -> "117.0", '_label -> "", 'class -> "input-mini")</td>
            <td>@inputText(alertNotificationForm("maxAcceptableVoltage"), '_showConstraints -> false,
              'placeholder -> "123.0", '_label -> "", 'class -> "input-mini")</td>
            <td>@checkbox(alertNotificationForm("frequencyAlertNotification"), '_showConstraints -> false,
              '_label -> "")</td>
            <td>@inputText(alertNotificationForm("minAcceptableFrequency"), '_showConstraints -> false,
              'placeholder -> "57.0", '_label -> "", 'class -> "input-mini")</td>
            <td>@inputText(alertNotificationForm("maxAcceptableFrequency"), '_showConstraints -> false,
              'placeholder -> "63.0", '_label -> "", 'class -> "input-mini")</td>
            <td>@checkbox(alertNotificationForm("deviceAlertNotification"), '_showConstraints -> false,
              '_label -> "")</td>
            <td><input type="submit" class="btn btn-primary pull-right" value="Add Alert"></td>
          </tr>
        }

      </tbody>
    </table>
  </div>
}