@(title: String, description: String)(content: Html)

    @createMenuItem(text: String, selectOn: String, link: play.api.mvc.Call) = {
    @if(title.toLowerCase().contains(selectOn)) {
        <li class="active">
        } else {
        <li>
        }
        <a href="@link">@text</a>
    </li>
    }

@main(title, menu(title, false)) {
    <div class="row-fluid">

            <!-- Side menu -->
        <div class="span4">
            <ul class="nav  nav-pills nav-stacked">
                @createMenuItem("User Administration", "user", routes.Administration.user())
                @createMenuItem("Device Administration", "device", routes.Administration.device())
                @createMenuItem("Alert Administration", "alert", routes.Administration.alert())
                @createMenuItem("CDSI Administration", "cdsi", routes.Administration.cdsi())
            </ul>
            <div class="well">
                <p>
                @description
                </p>
            </div>
        </div>
        @content
    </div>
}