@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@

@(devices: List[OpqDevice])

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@booleanToHuman(b: Boolean) = {
  @if(b) {
    Yes
  } else {
    No
  }
}

@admin("Alert Administration",
  "This page allows you to manage and create power quality events.") {
  <div class="span9">
    <table class="table table-striped">
      @if(flash.contains("updated")) {
        <p class="success">
        @flash.get("updated")
        </p>
      }
      <thead>
        <tr>
          <th>Device Id</th>
          <th>Frequency Alerts</th>
          <th>Voltage Alerts</th>
          <th>Device Alerts</th>
          <th>Alert Via Email</th>
          <th>Alert Vis Sms</th>
          <th><!-- Left blank for update button --></th>
        </tr>
      </thead>
      <tbody>
         @for(device <- devices) {
           <tr>
             <td>@device.getDeviceId</td>
             @if(device.getAlerts.size == 0) {
               <td>No</td>
               <td>No</td>
               <td>No</td>
               <td>No</td>
               <td>No</td>
             } else {
               <td>@booleanToHuman(device.getAlerts.get(0).getFrequencyAlertNotification)</td>
               <td>@booleanToHuman(device.getAlerts.get(0).getVoltageAlertNotification)</td>
               <td>@booleanToHuman(device.getAlerts.get(0).getDeviceAlertNotification)</td>
               <td>@booleanToHuman(device.getAlerts.get(0).getAlertViaEmail)</td>
               <td>@booleanToHuman(device.getAlerts.get(0).getAlertViaSms)</td>
             }
             <td><a href="@routes.Administration.alertDetails(device.getDeviceId)" class="btn btn-warning">Update</a></td>
           </tr>
         }
      </tbody>
    </table>
  </div>
}