@*
    This file is part of opq-ao.

    opa-ao is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    opa-ao is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with opq-ao.  If not, see <http://www.gnu.org/licenses/>.

    Copyright 2013 Anthony Christe
*@

@admin("CDSI Administration",
    "This page also allows you to manage your participation in the <a href=\"#\">Community Data Sharing Initiative</a> .") {
    <div class="span6">
        <form class="form-vertical well well-small">
            <b>Manage Participation</b>
            <br>
            <select>
                <option>0123...CEDF (Home)</option>
                <option>ABCD...6789 (Office)</option>
            </select>
            <span class="help-inline">Device ID</span>

            <div>
                <input type="checkbox" value="true" id="state_checkbox" name="checkbox">
                <select>
                    @for(state <- utils.FormUtils.ARRAY_OF_STATES) {
                        <option>@state</option>
                    }
                </select>
                <span class="help-inline">State</span>
            </div>
            <div>
                <input type="checkbox" value="true" id="city_checkbox" name="checkbox">
                <input type="text" class="input-large">
                <span class="help-inline">City</span>
            </div>
            <div>
                <input type="checkbox" value="true" id="zip_checkbox" name="checkbox">
                <input type="text" class="input-large">
                <span class="help-inline">Zip</span>
            </div>
            <div>
                <input type="checkbox" value="true" id="street_name_checkbox" name="checkbox">
                <input type="text" class="input-large">
                <span class="help-inline">Street Name</span>
            </div>
            <div>
                <input type="checkbox" value="true" id="street_number_checkbox" name="checkbox">
                <input type="text" class="input-large">
                <span class="help-inline">Street Number</span>
            </div>
            <hr>
            <div>
                <label class="checkbox" for="checkbox">
                    <input type="checkbox" value="true" id="checkbox" name="checkbox"> I want to participate in the
                    <a href="#">Community Data Sharing Initiative</a>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                    .</label>
            </div>
        </form>
        <table class="table well well-small">
            <thead>
                <tr>
                    <th>Participating Devices</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Zip</th>
                    <th>Street Name</th>
                    <th>Street #</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0123-4567-89AB-CDEF (Home)</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>No</td>
                    <td>
                        <a class="btn btn-danger pull-right">Update</a>
                    </td>
                </tr>
                <tr>
                    <td>ABCD-EF01-2345-6789 (Office)</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>
                        <a class="btn btn-danger pull-right">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span2 well well-small">
        <p>
            <b>Manage Participation</b>
            <br> To make information available to the CDSI, select a device you wish to
            share information from, and then select which fields you would like to
            make public about the device.</p>

        <p>
            <b>Participating Devices</b>
            <br> This lists the devices that are currently participating in the CDSI. &nbsp;
            &nbsp; &nbsp; &nbsp;
            <br>
            <br>
            <br>
        </p>
    </div>
}