@*
This file is part of OPQHub.

OPQHub is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OPQHub is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with OPQHub. If not, see <http://www.gnu.org/licenses/>.

Copyright 2014 Anthony Christe
*@

@(keyForm: Form[AccessKey], keys: Set[AccessKey])

  @import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

  @admin("Device Administration",
    "This page allows you to add and configure OPQBoxes.") {
    <div class="span7">
      <table class="table well well-small">
        @if(flash.contains("updated")) {
          <p class="success">
          @flash.get("updated")
          </p>
        }
        @if(flash.contains("added")) {
          <p class="success">
          @flash.get("added")
          </p>
        }
        <thead>
          <tr>
            <th>Device Id</th>
            <th>Key</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(key <- keys) {
            <tr>
              <td>@key.getDeviceId()</td>
              <td>@key.getAccessKey()</td>
              <td>
                <a href="@routes.Administration.configureDevice(key.getDeviceId, key.getAccessKey)" class="btn btn-warning pull-right">Configure Device</a>
              </td>
            </tr>
          }
          @form(routes.Administration.saveDevice(), 'class -> "form-inline") {
            <tr>
              <td>
              @inputText(keyForm("deviceId"),
                '_label -> "",
                'placeholder -> "12345",
                '_showConstraints -> false,
                'class -> "input-medium",
                'id -> "deviceId")
              </td>
              <td>
              @inputText(keyForm("accessKey"),
                '_label -> "",
                'placeholder -> "your_access_key",
                '_showConstraints -> false,
                'class -> "",
                'id -> "accessKey")
              </td>
              <input type="hidden" name="sharingData" id="sharingData" value="false" />
              <td>
                <input type="submit" value="Add Device" class="btn btn-primary pull-right" />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="span2 well well-small">
      <p>
        <b>Device Id</b>
        <br> The device id can be found on the bottom of your OPQBox.
      </p>
      <p>
        <b>Key</b>
        <br />
        The key is configured on the physical OPQBox. You must either have access to an OPQBox or someone must give you
        the key to their OPQBox.
      </p>
    </div>
  }