@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@

@(alertForm: Form[Alert],
  deviceId: Long)

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@admin("Alert Administration",
  "This page allows you to manage and create power quality events.") {
  <div class="span9 well well-small">
    @form(routes.Administration.updateAlert(deviceId), 'class -> "form-horizontal") {
      @checkbox(alertForm("alertViaEmail"), '_showConstraints -> false,
        '_label -> "Receive Alerts Via E-mail")
      <input type="hidden" name="alertViaEmail" id="alertViaEmail" value="false" />

      @inputText(alertForm("notificationEmail"), '_showConstraints -> false,
        'placeholder -> "john.doe@email.com", '_label -> "Alert E-mail Address", 'class -> "")

      <hr />

      @checkbox(alertForm("alertViaSms"), '_showConstraints -> false,
        '_label -> "Receive Alerts Via Sms")
      <input type="hidden" name="alertViaSms" id="alertViaSms" value="false" />

      @select(
        alertForm("smsCarrier"),
        options = options(utils.Sms.listOfCarriers),
        '_label -> "SMS Carrier",
        'id -> "smsCarrier")

      @inputText(alertForm("smsNumber"), '_showConstraints -> false,
        'placeholder -> "8085551234", '_label -> "SMS Number", 'class -> "")

      <hr />

      @checkbox(alertForm("frequencyAlertNotification"), '_showConstraints -> false,
        '_label -> "Receive Frequency Alerts")
      <input type="hidden" name="frequencyAlertNotification" id="frequencyAlertNotification" value="false" />

      @inputText(alertForm("minAcceptableFrequency"), '_showConstraints -> false,
        'placeholder -> "59.0", '_label -> "Min. Acceptable Frequency (Hz)", 'class -> "")

      @inputText(alertForm("maxAcceptableFrequency"), '_showConstraints -> false,
        'placeholder -> "61.0", '_label -> "Max. Acceptable Frequency (Hz)", 'class -> "")

      <hr />

      @checkbox(alertForm("voltageAlertNotification"), '_showConstraints -> false,
        '_label -> "Receive Voltage Alerts")
      <input type="hidden" name="voltageAlertNotification" id="voltageAlertNotification" value="false" />

      @inputText(alertForm("minAcceptableVoltage"), '_showConstraints -> false,
        'placeholder -> "100.0", '_label -> "Min. Acceptable Voltage (v)", 'class -> "")

      @inputText(alertForm("maxAcceptableVoltage"), '_showConstraints -> false,
        'placeholder -> "130.0", '_label -> "Max. Acceptable Voltage (v)", 'class -> "")

      <hr />

      @checkbox(alertForm("deviceAlertNotification"), '_showConstraints -> false,
        '_label -> "Receive Device Alerts")
      <input type="hidden" name="deviceAlertNotification" id="deviceAlertNotification" value="false" />

      <hr />

      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-primary" value="Update Alert">
        </div>
      </div>
    }
  </div>
}