@*
This file is part of OPQHub.

OPQHub is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OPQHub is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with OPQHub. If not, see <http://www.gnu.org/licenses/>.

Copyright 2014 Anthony Christe
*@

@(deviceId: Long, accessKey: String, deviceForm: Form[OpqDevice], locationForm: Form[Location], location: Location)

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@admin("Device Administration",
  "OPQBox configuration Manager") {
  <div class="span7">
    <table class="table well well-small">

      <thead>
        <tr>
          <th>Device Id</th>
          <th>Key</th>
          <th>Location</th>
          <th>Description</th>
          <th>Make Data Public</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>

          @form(routes.Administration.saveDeviceConfiguration(), 'class -> "form-inline") {
            @if(location == null) {
              <input type="hidden" id="northEastLatitude" name="northEastLatitude" />
              <input type="hidden" id="northEastLongitude" name="northEastLongitude" />
              <input type="hidden" id="southWestLatitude" name="southWestLatitude" />
              <input type="hidden" id="southWestLongitude" name="southWestLongitude" />
              <input type="hidden" id="gridScale" name="gridScale" />
              <input type="hidden" id="gridRow" name="gridRow" />
              <input type="hidden" id="gridCol" name="gridCol" />
            } else {
              <input type="hidden" id="northEastLatitude" name="northEastLatitude" value="@location.getNorthEastLatitude().toString()" />
              <input type="hidden" id="northEastLongitude" name="northEastLongitude" value="@location.getNorthEastLongitude().toString()" />
              <input type="hidden" id="southWestLatitude" name="southWestLatitude" value="@location.getSouthWestLatitude().toString()" />
              <input type="hidden" id="southWestLongitude" name="southWestLongitude" value="@location.getSouthWestLongitude()z.toString()" />
              <input type="hidden" id="gridScale" name="gridScale" value="@location.getGridScale().toString()" />
              <input type="hidden" id="gridRow" name="gridRow" value="@location.getGridRow().toString()" />
              <input type="hidden" id="gridCol" name="gridCol" value="@location.getGridCol().toString()" />
            }

            <td>
              @inputText(deviceForm("deviceId"), '_showConstraints -> false, '_label -> "",
                'class -> "input-small", 'readonly -> "readonly")
            </td>
            <td>
              @inputText(deviceForm("accessKey.accessKey"), '_showConstraints -> false, '_label -> "",
                'class -> "input-small", 'readonly -> "readonly")
            </td>
            <td>
            @inputText(locationForm("gridId"), '_showConstraints -> false, '_label -> "",
              'class -> "input-medium", 'readonly -> "readonly", 'id -> "gridId")
            </td>
            <td>@inputText(deviceForm("description"), '_showConstraints -> false, '_label -> "",
              'class -> "input-medium")</td>
            <td>@checkbox(deviceForm("sharingData"), '_showConstraints -> false, '_label -> "")</td>
            <input type="hidden" name="sharingData" id="sharingData" value="false" />
            <td>
              <input type="submit" class="btn btn-warning pull-right" value="Update">
            </td>    }
        </tr>
      </tbody>
    </table>
    <div id="grid-map" style="height:500px"></div>
  </div>
  <div class="span2 well well-small">
    <p>
      <b>Device Id</b>
      <br> The device id can be found on the bottom of your OPQBox.
    </p>
    <p>
      <b>Key</b>
      <br />
      The key is configured on the physical OPQBox. You must either have access to an OPQBox or someone must give you
      the key to their OPQBox.
    </p>
  </div>


  @* Device Map *@
  <script src="@routes.Assets.at("javascripts/leaflet.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/grid-map.js")" type="text/javascript"></script>

  <script type="text/javascript">
    addDynamicCss ( '  @routes.Assets.at("stylesheets/leaflet.css") ');

    function onGridClick(feature, layer) {
      $(function () {
        $('#gridId').val(feature.properties.id);
        $('#northEastLatitude').val(feature.properties.boundingBox.getNorthEast().lat);
        $('#northEastLongitude').val(feature.properties.boundingBox.getNorthEast().lng);
        $('#southWestLatitude').val(feature.properties.boundingBox.getSouthWest().lat);
        $('#southWestLongitude').val(feature.properties.boundingBox.getSouthWest().lng);
        $('#gridScale').val(feature.properties.scale);
        $('#gridRow').val(feature.properties.row);
        $('#gridCol').val(feature.properties.col);
      });

      g.colorSquare(feature.properties.id, "red");
    }

    var g = grid;
    g.config.singleSelectionMode = true;
    g.callbacks.onGridClick = onGridClick;

    var gridId = $('#gridId').val();
    var gridScale = $('#gridScale').val()
    var northEastLatitude = $('#northEastLatitude').val();
    var northEastLongitude = $('#northEastLongitude').val();
    var southWestLatitude = $('#southWestLatitude').val();
    var southWestLongitude = $('#southWestLongitude').val();
    console.log(gridId, gridScale, northEastLatitude, northEastLongitude);
    if(gridId.length > 0 && gridScale.length > 0 && northEastLatitude.length > 0 && northEastLongitude.length > 0) {
      var latLng = [(parseFloat(northEastLatitude) + parseFloat(southWestLatitude)) / 2,
                    (parseFloat(northEastLongitude) + parseFloat(southWestLongitude)) / 2];
      var zoom = g.getZoomByDistance(parseInt(gridScale));
      g.initMap("grid-map", latLng, zoom);
      g.colorSquare(gridId, "red")
    }
    else {
      console.log("Default");
      g.initMap("grid-map", g.island.OAHU.latLng, g.island.OAHU.defaultZoom);
    }

  </script>
}