@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@
@(opqDeviceForm: Form[OpqDevice])

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@admin("CDSI Administration",
  "This page also allows you to manage your participation in the" +
      " <a href=\"#\">Community Data Sharing Initiative</a> .") {

  <div class="span9">
    <table class="table table-condensed well well-small">
      <thead>
        <tr>
          <th>Device Id</th>
          <th>CDSI</th>
          <th>City</th>
          <th>Zip</th>
          <th>Street Name</th>
          <th>Street #</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @form(
          routes.Administration.updateCdsi(Long.parseLong(opqDeviceForm("primaryKey").value)),
          'id -> "updateCdsiForm",
          'class -> "form-inline"
        ) {
          <input type="hidden" name="state" id="state" value="@opqDeviceForm("state").value">
          <input type="hidden" name="description" id="description" value='@opqDeviceForm("description").value'>
          <input type="hidden" name="latitude" id="latitude" value='@opqDeviceForm("latitude").value'>
          <input type="hidden" name="longitude" id="longitude" value='@opqDeviceForm("longitude").value'>
          <tr>
            @* Device Id *@
            <td>
            @inputText(opqDeviceForm("deviceId"), '_showConstraints -> false, '_label -> "",
              'class -> "input-medium", 'readonly -> "readonly")
            </td>

            @* Participation in CDSI *@
            <td>
              @checkbox(opqDeviceForm("sharingData"), '_showConstraints -> false, '_label -> "")
              <input type="hidden" name="sharingData" value="false" />
            </td>

            @* City *@
            <td>
            @inputText(opqDeviceForm("city"), '_id -> "city", '_showConstraints -> false, '_label -> "",
              'class -> "input-small")
            </td>

            @* Zip *@
            <td>
            @inputText(opqDeviceForm("zip"), '_id -> "zip", '_showConstraints -> false, '_label -> "",
              'class -> "input-mini")
            </td>

            @* Street Name *@
            <td>
            @inputText(opqDeviceForm("streetName"), '_id -> "streetName", '_showConstraints -> false, '_label -> "",
              'class -> "input-small")
            </td>

            @* Street Number *@
            <td>
            @inputText(opqDeviceForm("streetNumber"), '_id -> "streetNumber", '_showConstraints -> false, '_label -> "",
              'class -> "input-mini")
            </td>

            @* Update/Cancel *@
            <td>
              <input type="button" id="previewBtn" class="btn btn-info pull-right" value="Preview">
            </td>
            <td>
              <input type="button" id="saveBtn" class="btn btn-warning pull-right" value="Save">
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @*
  Start of cdsi map
  *@
  <script src="@routes.Assets.at("javascripts/leaflet.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/opq-maps.js")" type="text/javascript"></script>
  <div id="cdsi-map" class="span9"></div>
  <script type="text/javascript">
    /* Make sure the leaflet CSS is loaded */
    addDynamicCss ( '  @routes.Assets.at("stylesheets/leaflet.css") ');
    initMap("cdsi-map", "state", "city", "zip", "streetName", "streetNumber", "latitude", "longitude");

    $("#previewBtn" ).on("click", function(){
      previewMap();
    });

    $("#saveBtn" ).on("click", function() {
      var data = getMapInfo();
      updateLatLong(data);
      $("#updateCdsiForm").submit();
    });
  </script>
}