.main-features {
    margin-top: 10px;
}

/* Image in Hero Unit */
.hero-unit {
    background-image: url('../images/smartgrid.png');
    background-size: cover;
}

/* Update colors in hero unit */
.fuelux .hero-unit h1  {
    color: #ffffff;
}

.hero-font {
    color: #ffffff;
}

/* Form Messages */
.error {
    text-align: center;
    font-weight: bold;
    color: red;
}

.success {
    text-align: center;
    font-weight: bold;
    color: green;
}

/* Form Misc */
#removeDeviceBtn {
    margin-left: 5px;
}

/* Login Form */
[class*="span"].centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

#login-form .form-horizontal .control-group {
    margin-bottom: 10px;
}

#login-form h3 {
    text-align: center;
}

/* Wizard Styles */
.step-pane {
    padding-top: 10px;
}

/* Description Panes */
.bold {
    font-weight: bold;
}

/* Open Street Map Styles */
#public-map {
    height: 680px;
}

#cdsi-map {
    height: 400px;
}

#wizard-map {
    height: 300px;
}

#map-controls {
    padding-right: 20px;
}

#event-summary td {
    padding: 5px;
    margin: 5px;
}

#popup-table td {
    padding: 5px;
    margin: 5px;
}