@*
This file is part of opq-ao.

opq-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opq-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@

@(event: Event, externalEventForm: Form[ExternalCause])

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@privatepowerqualitymonitoring("Private Power Quality Monitoring - Private Alerts",
  "This page allows you to manage and create power quality events.") {
  <div class="span9">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Device Id</th>
          <th>Description</th>
          <th>Event Type</th>
          <th>Timestamp</th>
          <th>Duration (ms)</th>
          <th>Event Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@event.getDevice.getDeviceId</td>
          <td>@event.getDevice.getDescription</td>
          <td>@event.getEventType.getName</td>
          <td>@utils.DateUtils.toDateTime(event.getTimestamp)</td>
          <td>@event.getEventDuration</td>
          <td>
            @event.getEventValue
            @if(event.getEventType.equals(org.openpowerquality.protocol.OpqPacket.PacketType.ALERT_FREQUENCY)) {
              Hz
            }
            @if(event.getEventType.equals(org.openpowerquality.protocol.OpqPacket.PacketType.ALERT_VOLTAGE)) {
              Volts
            }
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span9">
    <p><b>External Cause</b></p>
    @if(flash.contains("updated")) {
      <p class="success">
      @flash.get("updated")
      </p>
    }
    @form(routes.Events.updateEventDetails(event.getPrimaryKey), 'class -> "form-horizontal well well-small", 'name -> "externalCauseForm") {
      @inputText(
        externalEventForm("causeType"), '_label -> "Event Type", 'placeholder -> "Tropical Storm Flossie", 'id -> "causeType")
      @textarea(
        externalEventForm("causeDescription"), '_label -> "Event Description", 'placeholder -> "Tropical Storm Flossie",
        'id -> "causeDescription")
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-primary" value="Update External Cause" />
        </div>
      </div>
    }
  </div>
}