@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@
@(
    measurements: List[Measurement],
    deviceId: Long,
    page: Integer,
    pages: Integer
    )

@import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

@privatepowerqualitymonitoring("Private Power Quality Monitoring - Private Measurements",
  "This page allows you to manage and create power quality events.") {



  <div class="row span9">
    <div class="well well-small">
      <p>Filter Measurements</p>

      <form class="form-inline" action="@routes.Measurements.filterMeasurements()" id="filterForm" method="post">
        <input type="hidden" id="deviceId" name="deviceId" value="@deviceId"/>
        <div class="control-group">
          <label class="control-label" for="pastTimeSelect">After past</label>

          <select id="pastTimeSelect" name="pastTimeSelect">
          @for(option <- utils.DateUtils.TimeUnit.values()) {
            @if(option.toString.equals(session.get("pastTimeSelectMeasurements"))) {
              <option selected>
            } else {
              <option>
            }
            @option</option>
          }
          </select>
        </div>
        <div class="control-group">
          <input type="submit" class="btn btn-info" value="Filter"/>
        </div>
      </form>

    </div>
    <div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Device Id</th>
            <th>Description</th>
            <th>Timestamp</th>
            <th>Frequency (Hz)</th>
            <th>Voltage (V)</th>
          </tr>
        </thead>
        <tbody>
        @for(measurement <- measurements) {
          <tr>
            <td>@measurement.getDevice.getDeviceId</td>
            <td>@measurement.getDevice.getDescription</td>
            <td>@utils.DateUtils.toDateTime(measurement.getTimestamp)</td>
            <td>@measurement.getFrequency</td>
            <td>@measurement.getVoltage</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
    <div class="pull-right">
      @defining(
        if(session.get("measurementsAfterAmount") == null) {
          0L
        } else {
          Long.parseLong(session.get("measurementsAfterAmount"))
        }
      ) { afterTimestamp =>
        @if(page > 0) {
          <a href="@routes.Measurements.measurementsByPage(deviceId, page - 1, afterTimestamp)" class="btn btn-primary"><- Prev.</a>
        }
        [@(page + 1)/@(pages + 1)]
      <a href="@routes.Measurements.measurementsByPage(deviceId, page + 1, afterTimestamp)" class="btn btn-primary"> Next. -></a>
      }
    </div>
  </div>
}
