@*
This file is part of OPQHub.

OPQHub is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OPQHub is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with OPQHub. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@
@(events: List[models.Event], devices: List[models.OpqDevice], loggedOut: Boolean)

@main("Public Power Quality Monitoring", menu("Public Power Quality Monitoring", loggedOut)) {
  <div class="row">
    
    <div id="filter" class="row span3">
      <div class="well well-small">
        <form class="form-inline" action="@routes.Events.filterEvents()" id="filterForm" method="post">
          <p>Filter events after...</p>
          <div id="after" class="input-append date">
            <input id="afterField" data-format="MM/dd/yyyy hh:mm:ss" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
          <p>Filter events before...</p>
          <div id="before" class="input-append date">
            <input id="beforeField" data-format="MM/dd/yyyy hh:mm:ss" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row span9">
      @* Start of public map *@
      <div id="public-map" class="span9">
        <div id="overlay" style="position:absolute; top:20px; right:20px; padding-left: 10px; padding-top:10px; background-color:white; opacity:0.5; width:300px; height:100px; z-index: 100">
          <table border="0">
            <tr>
              <td><b>Total Devices:</b></td>
              <td><div id="totalDevices"></div></td>
            </tr>
            <tr>
              <td><b>Total Affected Devices:</b></td>
              <td><div id="totalAffectedDevices"></div></td>
            </tr>
            <tr>
              <td><b>Total Frequency Events:</b></td>
              <td><div id="totalFrequencyEvents"></div></td>
            </tr>
            <tr>
              <td><b>Total Voltage Events:</b></td>
              <td><div id="totalVoltageEvents"></div></td>
            </tr>
          </table>
        </div>
      </div>
  </div>

    <div class="row span9">
      <div id="itic-plot" style="width:900px;height:400px"></div>
    </div>


    <script src="@routes.Assets.at("javascripts/leaflet.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/grid-map.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/flot/jquery.flot.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/flot/jquery.flot.axislabels.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/itic-plotter.js")" type="text/javascript"></script>

    <script type="text/javascript">
      p = iticPlotter;
      // Set up plot
      p.init("#itic-plot");

      $("<div id='tooltip'></div>").css({
      position: "absolute",
      display: "none",
      border: "1px solid #fdd",
      padding: "2px",
      "background-color": "#fee",
      opacity: 0.80
      }).appendTo("body");

      $("#itic-plot").bind("plothover", function (event, pos, item) {
      if (item) {
      var duration = item.datapoint[0].toFixed(2);
      var percentNominalVoltage = item.datapoint[1].toFixed(2);

      $("#tooltip").html(p.formatTooltip([["Duration (ms)", duration],
      ["Duration (c)", p.msToC(duration).toFixed(2)],
      ["% nominal voltage", percentNominalVoltage],
      ["+/- volts", p.percentNominalVoltageToVoltage(percentNominalVoltage)],
      ["ITIC Region", item.series.label]]))
      .css({top: item.pageY+5, left: item.pageX+5})
      .fadeIn(200);
      } else {
      $("#tooltip").hide();
      }
      });

      /* Set up date-time pickers */
      $(function() {
        $('#after').datetimepicker({
          language: 'en',
          pick12HourFormat: true
        });
        $('#before').datetimepicker({
          language: 'en',
          pick12HourFormat: true
        });
      });


      /* Make sure the leaflet CSS is loaded */
      addDynamicCss ('@routes.Assets.at("stylesheets/leaflet.css")');

      function colorSquares(squares) {
        for(var i = 0; i < squares.length; i++) {
          g.colorSquare(squares[i], "red");
        }
      }


      $('#afterField').keypress(function(){
         console.log("after field change");         onMapChange();
      });

      $('#beforeField').change(function(){
        onMapChange();
      });

      function onMapChange() {
        var visibleIds = g.getVisibleIds();
        var afterField = $('#afterField').val();
        var beforeField = $('#beforeField').val();
        var afterMillis;
        var beforeMillis;

        if(afterField === "") {
          afterMillis = 0;
        }
        else {
          afterMillis = new Date(afterField).getTime();
        }

        if(beforeField === "") {
          beforeMillis = new Date().getTime();
        }
        else {
          beforeMillis = new Date(beforeField).getTime();
        }

        var json = JSON.stringify({after: afterMillis, before: beforeMillis, visibleIds: visibleIds});

        $.ajax({
           type: "POST",
           url: "/public/alerts",
           processData: false,
           contentType: 'application/json',
           data: json,
           success: function(data) {
            g.clearColoredLayers();
            p.removePoints();
             var affectedSquares = data["affectedSquares"];
             for(var i = 0; i < affectedSquares.length; i++) {
               for(var k in affectedSquares[i]) {
                 var o = affectedSquares[i][k];
                 g.colorSquare(k, "red");
                 g.addPopupContent(k, "Total Devices: "     + o.totalDevices        + "<br />" +
                                      "Affected Devices: "  + o.numAffectedDevices  + "<br />" +
                                      "Frequency Events: "  + o.numFrequencyEvents  + "<br />" +
                                      "Voltage Events: "    + o.numVoltageEvents  + "<br />");

                 // Populate the plot
                 var points = o.iticPoints;
                 for(var j = 0; j < points.length; j++) {
                  p.addPoint(points[j][0], p.voltageToPercentNominalVoltage(points[j][1]));
                 }
               }
             }

           p.update();

             var globalState = data["globalState"];
             $("#totalDevices").text(globalState["totalDevices"]);
             $("#totalAffectedDevices").text(globalState["totalAffectedDevices"]);
             $("#totalFrequencyEvents").text(globalState["totalFrequencyEvents"]);
             $("#totalVoltageEvents").text(globalState["totalVoltageEvents"]);
           }
        });


      }

      var g = grid;
      g.config.singleSelectionMode = false;
      g.callbacks.onMapChange = onMapChange;
      g.initMap ("public-map", g.island.OAHU.latLng, g.island.OAHU.defaultZoom);


    </script>
  </div>
}
