@(title: String, description: String)(content: Html)

@main(title) {
    <div class="row-fluid">

        <!-- Side menu -->
        <div class="span4">
            <ul class="nav  nav-pills nav-stacked">

                <!-- User Administration Tab -->
                @if(title.toLowerCase().contains("user")) {
                    <li class="active">
                } else {
                    <li>
                }
                    <a href="@routes.Administration.user()">User Administration</a>
                </li>


                <!-- Device Administration Tab -->
                @if(title.toLowerCase().contains("device")) {
                    <li class="active">
                } else {
                    <li>
                }
                    <a href="@routes.Administration.device()">Device Administration</a>
                </li>

                <!-- Alert Administration Tab -->
                @if(title.toLowerCase().contains("alert")) {
                    <li class="active">
                } else {
                    <li>
                }
                    <a href="@routes.Administration.alert()">Alert Administration</a>
                </li>

                <!-- CDSI Administration Tab -->
                @if(title.toLowerCase().contains("cdsi")) {
                    <li class="active">
                } else {
                    <li>
                }
                    <a href="@routes.Administration.cdsi()">CDSI Administration</a>
                </li>
            </ul>
            <div class="well">
                <p>
                    @description
                </p>
            </div>
        </div>
        @content
    </div>
}