@*
This file is part of OPQHub.

OPQHub is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OPQHub is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with OPQHub. If not, see <http://www.gnu.org/licenses/>.

Copyright 2014 Anthony Christe
*@

@(notLoggedIn: Boolean)

@main("OPQHub Home", menu("Getting Started with OPQ", notLoggedIn)) {

  <div class="container">
    <div class="hero-unit hidden-phone">
      <h1 class="hero-font">Welcome to OPQHub</h1>
      <p class="hero-font">To get started, select one of the two options below.</p>
      @if(notLoggedIn) {
        <p>
          <a class="btn btn-large btn-success" href="@routes.Person.signup()"><span class="btn-label">
            Sign-Up</span></a>
          <a class="btn btn-large btn-primary" href="@routes.Application.login()"><span class="btn-label">Login</span></a>
        </p>
      }

    </div>
    <div class="row main-features">
      <div class="span6">
        <div class="well">
          <h3>What is Open Power Quality?</h3>
          <p>
            Open Power Quality (OPQ) is a project developed at the University of Hawaii at Manoa which
            allows for distributed power quality analysis.
          </p>
          <p>
            <a class="btn btn-primary" href="http://openpowerquality.org/"><span class="btn-label">Find Out More</span></a>
          </p>
        </div>
      </div>
      <div class="span6">
        <div class="well">
          <h3>Community Data Sharing Initiative</h3>
          <p>
            OPQ device users may choose to share power quality information with the public. That
            information is publicly available in one of two formats. A map view for visual analysis,
            and the ability to download a comma separated value file of power quality information.
          </p>
          <p>
            <a class="btn btn-primary" href="@routes.PowerQualityMonitoring.publicMonitor()"><span class="btn-label">
              Public Power Quality Monitoring</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
}

