@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao.  If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@

@(loginForm: Form[Application.Login])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Login", menu("Login", true)) {
  <div class="row">
    <div class="span5 well well-small centered" id="login-form">
      <h3>
        Login to opq-ao
      </h3>
      @if(loginForm.hasGlobalErrors) {
        <p class="error">
          @loginForm.globalError.message
        </p>
      }
      @if(flash.contains("success")) {
        <p class="success">
          @flash.get("success")
        </p>
      }
      <hr />
      @form(action = routes.Application.authenticate(), 'class -> "form-horizontal") {
        @inputText(loginForm("email"), '_label -> "E-Mail Address", 'placeholder -> "john.doe@email.com", 'id -> "email", 'class -> "input-xlarge")
        @inputPassword(loginForm("password"), '_label -> "Password", 'placeholder -> "Password", 'id -> "password", 'class -> "input-xlarge")
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn-primary btn-block" value="Login" />
          </div>
        </div>
      }
    </div>
  </div>
}