@(title: String)

<div class="navbar-content">
    <ul class="nav">
        <!-- Management Tab -->
        @if(title.toLowerCase.contains("home")) {
            <li class="active">
        } else {
            <li>
        }
                    <a href="@routes.Application.index()">Home</a>
        </li>

        <!-- Administration Tab -->
        @if(title.toLowerCase.contains("administration")) {
            <li class="active">
        } else {
            <li>
        }
            <a href="@routes.Administration.user()">Administration</a>
        </li>

        <!-- Power Quality Monitoring Tab -->
        @if(title.toLowerCase.contains("power quality monitoring")) {
            <li class="active">
        } else {
            <li>
        }
            <a href="@routes.PowerQualityMonitoring.index()">Power Quality Monitoring</a>
        </li>
    </ul>
</div>