<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>OPQHub - Public Power Quality</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Needed libraries -->
        <script src="@routes.Assets.at("contrib/js/jquery-2.1.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("contrib/js/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("contrib/js/bootstrap.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("contrib/js/dygraph-combined.js")" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("contrib/css/bootstrap.css")">

        <!-- Site specific details -->
        <script src="@routes.Assets.at("js/trends.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/site.css")">
    </head>
    <body>
        <!-- Responsive navbar -->
        @navbar()

        <!-- Main content -->
        <div class="container" id="main-content">
            <div class="row">
                Past 15 Minutes
                <div id="trends-1m" class="col-lg-12" style="height: 200px"></div>
            </div>
            <div class="row">
                Past 1 Day
                <div id="trends-1h" class="col-lg-12" style="height: 200px"></div>
            </div>
            <div class="row">
                Past 1 Week
                <div id="trends-1d" class="col-lg-12" style="height: 200px"></div>
            </div>
        </div>

        <script type="text/javascript">
            function makeCharts(data, chart) {
                var series = [];
                for(var boxId in data) {
                    if(data.hasOwnProperty(boxId)) {
                        series.push({label: boxId, data: data[boxId]});
                    }
                }
                $.plot(chart, series)
            }

            $(document ).ready(function() {
                $.get('@routes.Data.getTrends(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Minute, 1), utils.DateUtils.getMillis)')
                    .done(function(data) {
                        makeCharts(data, "#trends-1m");
                    });

                $.get('@routes.Data.getTrends(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Hour, 1), utils.DateUtils.getMillis)')
                    .done(function(data) {
                        makeCharts(data, "#trends-1h");
                    });

                $.get('@routes.Data.getTrends(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Day, 1), utils.DateUtils.getMillis)')
                    .done(function(data) {
                        makeCharts(data, "#trends-1d");
                    });

            });
        </script>
    </body>
</html>
