<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>OPQHub - Public Power Quality</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Needed libraries -->
        <script src="@routes.Assets.at("contrib/js/jquery-2.1.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("contrib/js/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("contrib/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("contrib/js/jquery.flot.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("contrib/css/bootstrap.css")">

        <!-- Site specific details -->
        <script src="@routes.Assets.at("js/trends.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/site.css")">
    </head>
    <body>
        <!-- Responsive navbar -->
        @navbar()

        <!-- Main content -->
        <div class="container" id="main-content">
            <div class="row">
                1 minute voltage
                <div id="v-1m" class="col-lg-12" style="height: 200px"></div>
            </div>
            <div class="row">
                1 hour voltage
                <div id="v-1h" class="col-lg-12" style="height: 200px"></div>
            </div>
            <div class="row">
                1 day voltage
                <div id="v-1d" class="col-lg-12" style="height: 200px"></div>
            </div>
            <div class="row">
                1 minute frequency
                <div id="f-1m" class="col-lg-12" style="height: 200px"></div>
            </div>
            <div class="row">
                1 hour frequency
                <div id="f-1h" class="col-lg-12" style="height: 200px"></div>
            </div>
            <div class="row">
                1 day frequency
                <div id="f-1d" class="col-lg-12" style="height: 200px"></div>
            </div>
        </div>

        <script type="text/javascript">
            function makeCharts(data, chart, ymin, ymax) {
                var series = [];
                for(var boxId in data) {
                    if(data.hasOwnProperty(boxId)) {
                        series.push({label: boxId, data: data[boxId]});
                    }
                }
                $.plot(chart, series, {
                   yaxis: {
                       min: ymin,
                       max: ymax
                   }
                });
            }

            $(document ).ready(function() {
                $.get('@routes.Data.getVoltages(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Minute, 1), utils.DateUtils.getMillis)')
                    .done(function(data) {
                        makeCharts(data, "#v-1m", 105, 135);
                    });

                $.get('@routes.Data.getVoltages(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Hour, 1), utils.DateUtils.getMillis)')
                    .done(function(data) {
                        makeCharts(data, "#v-1h", 105, 135);
                    });

                $.get('@routes.Data.getVoltages(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Day, 1), utils.DateUtils.getMillis)')
                    .done(function(data) {
                        makeCharts(data, "#v-1d", 105, 135);
                    });

                $.get('@routes.Data.getVoltages(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Minute, 1), utils.DateUtils.getMillis)')
                .done(function(data) {
                    makeCharts(data, "#f-1m", 55, 65);
                });

                $.get('@routes.Data.getVoltages(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Hour, 1), utils.DateUtils.getMillis)')
                .done(function(data) {
                    makeCharts(data, "#f-1h", 55, 65);
                });

                $.get('@routes.Data.getVoltages(session.get("email"), utils.DateUtils.getPastTime(utils.DateUtils.getMillis, utils.DateUtils.TimeUnit.Day, 1), utils.DateUtils.getMillis)')
                .done(function(data) {
                    makeCharts(data, "#f-1d", 55, 65);
                });
            });
        </script>
    </body>
</html>
