@main("Power Quality Monitoring") {
    <div class="row">
        <div class="span3" id="map-controls">
            <form class="well well-small">
                <b>Filter Alerts</b>
                <label class="checkbox" for="voltage_checkbox">
                    <input type="checkbox" value="true" id="voltage_checkbox" name="checkbox"> Voltage</label>
                <input type="text" class="input-mini" value="218"> Voltage less than
                <br>
                <input type="text" class="input-mini" value="222"> Voltage greater than
                <br>
                <br>
                <label class="checkbox" for="frequency_checkbox">
                    <input type="checkbox" value="true" id="frequency_checkbox" name="checkbox"> Frequency</label>
                <input type="text" class="input-mini" value="218"> Frequency less than
                <br>
                <input type="text" class="input-mini" value="222"> Frequency greater than
                <br>

                <hr>
                <b>Timeline</b>
                <br>
                <select>
                    <option>Past minute</option>
                    <option>Past hour</option>
                    <option>Past day</option>
                    <option>Past week</option>
                    <option>Past month</option>
                    <option>Past year</option>
                    <option>Custom range</option>
                </select>
                <br>
                <b>Custom Time Range</b>
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>mm/dd/yyyy</td>
                            <td>hh:mm</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>
                                <input type="text" class="input-small">
                            </td>
                            <td>
                                <input type="text" class="input-mini">
                            </td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>
                                <input type="text" class="input-small">
                            </td>
                            <td>
                                <input type="text" class="input-mini">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <b>Summary of Events</b>
                <br />
                <table id="event-summary">
                    <tr>
                        <td>Voltage</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Frequency</td>
                        <td>1</td>
                    </tr>
                </table>
                <hr />
                <a href="@routes.PowerQualityMonitoring.getAlerts()">Download Visible Alerts (.csv)</a>
            </form>
        </div>

            <!-- Start of OSM -->
        <div id="public-map" class="span9"></div>
        <script defer="defer" type="text/javascript">

            function createMarker(lon, lat, icon) {
            var marker = new OpenLayers.LonLat(lon, lat).transform(projection, map.getProjectionObject());
            markers.addMarker(new OpenLayers.Marker(marker, icon.clone()));
            }

            // Base map centered on Honolulu
            var map             = new OpenLayers.Map('public-map');
            var osm             = new OpenLayers.Layer.OSM();
            var projection      = new OpenLayers.Projection("EPSG:4326");
            var center          = new OpenLayers.LonLat(-157.8583,21.3069);
            var zoom            = 9;
            map.addLayer(osm);
            map.setCenter(center.transform(projection, map.getProjectionObject()), zoom);

            // Create markers
            var frequencyIcon   = new OpenLayers.Icon("@routes.Assets.at("images/frequency-alert-icon.png")");
            var voltageIcon     = new OpenLayers.Icon("@routes.Assets.at("images/voltage-alert-icon.png")");
            var markers         = new OpenLayers.Layer.Markers("Markers");
            map.addLayer(markers);
            createMarker(-157.8583, 21.3069, frequencyIcon); // Honolulu
            createMarker(-157.8036, 21.4181, voltageIcon); // Kaneohe
            createMarker(-157.8081, 21.3147, voltageIcon); // Manoa


        </script>
    </div>
}