@(alerts: List[models.Alert], devices: List[models.OpqDevice], loggedOut: Boolean)

@main("Public Power Quality Monitoring", menu("Public Power Quality Monitoring", loggedOut)) {
    <div class="row">
        <div class="span3" id="map-controls">
            <form class="well well-small">
                <b>Filter Alerts</b>
                <label class="checkbox" for="voltage_checkbox">
                    <input type="checkbox" value="true" id="voltage_checkbox" name="checkbox"> Voltage</label>
                <input type="text" class="input-mini" value="218"> Voltage less than
                <br>
                <input type="text" class="input-mini" value="222"> Voltage greater than
                <br>
                <br>
                <label class="checkbox" for="frequency_checkbox">
                    <input type="checkbox" value="true" id="frequency_checkbox" name="checkbox"> Frequency</label>
                <input type="text" class="input-mini" value="218"> Frequency less than
                <br>
                <input type="text" class="input-mini" value="222"> Frequency greater than
                <br>

                <hr>
                <b>Timeline</b>
                <br>
                <select>
                    <option>Past minute</option>
                    <option>Past hour</option>
                    <option>Past day</option>
                    <option>Past week</option>
                    <option>Past month</option>
                    <option>Past year</option>
                    <option>Custom range</option>
                </select>
                <br>
                <b>Custom Time Range</b>
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>mm/dd/yyyy</td>
                            <td>hh:mm</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>
                                <input type="text" class="input-small">
                            </td>
                            <td>
                                <input type="text" class="input-mini">
                            </td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>
                                <input type="text" class="input-small">
                            </td>
                            <td>
                                <input type="text" class="input-mini">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <b>Summary of Events</b>
                <br />
                <table id="event-summary">
                    <tr>
                        <td>Devices</td>
                        <td>@devices.length</td>
                    </tr>
                    <tr>
                        <td>Voltage</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Frequency</td>
                        <td>1</td>
                    </tr>
                </table>
                <hr />
                <a href="@routes.PowerQualityMonitoring.getAlerts()">Download Visible Alerts (.csv)</a>
            </form>
        </div>

            <!-- Start of Leaflet -->
        <script src="@routes.Assets.at("javascripts/leaflet.js")" type="text/javascript"></script>
        <div id="public-map" class="span9"></div>

        <script type="text/javascript">
            // Make sure the correct css file is included
            addDynamicCss("@routes.Assets.at("stylesheets/leaflet.css")");

            // Setup basic map with OSM layer
            var map = L.map('public-map');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});
            map.addLayer(osm);

            // Center map over Oahu
            map.setView([21.4667, -157.9833], 10);

            // Create the icons
            var deviceMarker = L.icon({
            iconUrl: '@routes.Assets.at("images/opq-icon.png")'
            });
            var frequencyMarker = L.icon({
            iconUrl: '@routes.Assets.at("images/frequency-alert-icon.png")'
            });
            var voltageMarker = L.icon({
            iconUrl: '@routes.Assets.at("images/voltage-alert-icon.png")'
            });

            // Create pop-up templates
            function makeTable(vals) {
            var table = "<table id='popup-table'>";

            for(i = 0; i < vals.length; i += 2) {
            table += '<tr><td><b>' + vals[i] + '</b></td><td>' + vals[i + 1] + '</td></tr>';
            }

            table += "</table>"

            return table;
            }

            function deviceTemplate(deviceId, latitude, longitude) {
            return makeTable(["Device ID", deviceId, "Latitude", latitude, "Longitude", longitude]);
            }

            function alertTemplate(alertType, timestamp, duration, alertValue, latitude, longitude) {
            return makeTable([
            "Alert Type", alertType,
            "Date", timestamp,
            "Duration", duration,
            "Alert Value", alertValue,
            "Latitude", latitude,
            "Longitude", longitude
            ]);
            }

            // Display devices
            @for(device <- devices) {
                L.marker([@device.getLatitude(), @device.getLongitude()], {icon: deviceMarker}).addTo(map)
                .bindPopup(deviceTemplate(@device.getDeviceId, @device.getLatitude, @device.getLongitude));
            }

            // Display alerts
            @for(alert <- alerts) {
            @if(alert.getAlertType().equals(models.Alert.AlertType.FREQUENCY)) {
                L.marker([@alert.latitude, @alert.longitude], {icon: frequencyMarker}).addTo(map)
                .bindPopup(alertTemplate('@alert.getAlertType', '@alert.getDate', @alert.getDuration + ' s',
                @alert.getAlertValue + 'Hz', @alert.latitude, @alert.longitude));
            }
            @if(alert.getAlertType().equals(models.Alert.AlertType.VOLTAGE)) {
                L.marker([@alert.latitude, @alert.longitude], {icon: voltageMarker}).addTo(map)
                .bindPopup(alertTemplate('@alert.getAlertType', '@alert.getDate', @alert.getDuration + ' s',
                @alert.getAlertValue + ' V', @alert.latitude, @alert.longitude));
            }
            }
        </script>

    </div>
}