<div class="row">
    <div class="span9">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="userCity">City</label>
                <div class="controls">
                    <input type="text" id="userCity" placeholder="Kailua-Kona">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="userZip">Zip</label>
                <div class="controls">
                    <input type="text" id="userZip" placeholder="96739">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="userStreetName">Street Name</label>
                <div class="controls">
                    <input type="text" id="userStreetName" placeholder="Willow Ave">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="userStreetNumber">Street Number</label>
                <div class="controls">
                    <input type="text" id="userStreetNumber" placeholder="111">
                </div>
            </div>
        </form>
    </div>
    <div class="span3">
        <div class="well well-small">
            <p class="bold">Optional User Information</p>
            <p>
                This information is only used for research purposes in order to locate where users are in relation
                to their OPQ devices. Feel free to include as little or as much information as you feel comfortable with.
            </p>
            <p>
                All fields are <b>optional</b>.
            </p>
        </div>
    </div>
</div>