<div class="row">
    <div class="span9">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="firstName">First Name</label>
                <div class="controls">
                    <input type="text" id="firstName" placeholder="John" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="lastName">Last Name</label>
                <div class="controls">
                    <input type="text" id="lastName" placeholder="Doe" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">E-Mail</label>
                <div class="controls">
                    <input required type="email" id="email" placeholder="john.doe@@email.com">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" placeholder="Password" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="reenterPassword">Re-enter Password</label>
                <div class="controls">
                    <input type="password" id="reenterPassword" placeholder="Password" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="userState">State</label>
                <div class="controls">
                    <select id="userState">
                    @for(state <- utils.FormUtils.listOfStates) {
                        <option>@state</option>
                    }
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="span3">
        <div class="well well-small">
            <p class="bold">Welcome to the OPQ Wizard</p>
            <p>
                                       This wizard will walk you through the steps needed to
                create an account and also register your OPQ device. You can go back to any step
                at any time and all of this information can be updated in the future from the
                administration panel.
            </p>
            <p class="bold">User Information</p>
            <p>
                                       This information is required to create an account on openpowerquality.org.
            </p>
            <p>
                                       All fields are <b>required</b>.
            </p>
        </div>
    </div>
</div>