<div class="row">
    <div class="span9">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="deviceId">Device Id</label>
                <div class="controls">
                    <input type="text" id="deviceId" placeholder="0123-4567-89AB-CDEF" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="deviceDescription">Device Description</label>
                <div class="controls">
                    <input type="text" id="deviceDescription" placeholder="Office" required>
                </div>
            </div>
        </form>
    </div>
    <div class="span3">
        <div class="well well-small">
            <p class="bold">OPQ Device</p>
            <p>
                This section allows you to register your OPQ device.
            </p>
            <p class="bold">Device Id</p>
            <p>
                The OPQ device id can be found on a sticker attached to your OPQ device. The id is represented by
                16 hexadecimal digits split into groups of 4 digits.
            </p>
            <p>
                Example: 0123-4567-89AB-CDEF
            </p>
            <p class="bold">Device Description</p>
            <p>
                Provide a short description of your device. This makes it easy to differentiate between multiple
                devices your control without having to memorize their device id.
            </p>
            <p>
                Examples: Offices, basement, uptown, etc
            </p>
        </div>
    </div>
</div>