@*
    This file is part of opq-ao.

    opa-ao is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    opa-ao is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with opq-ao.  If not, see <http://www.gnu.org/licenses/>.

    Copyright 2013 Anthony Christe
*@

@(
    personForm: Form[models.Person],
    opqDeviceForm: Form[models.OpqDevice],
    alertNotificationForm: Form[models.AlertNotification]
)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("OPQ Wizard", menu("OPQ Wizard", true)) {
    <script type="text/javascript">
      $('#opq-wizard').wizard();

      $(document).ready(function() {
        $('#opq-wizard').on('finished', function(e, data) {
          document.wizardForm.submit();
        });
      });

    </script>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="opq-wizard" class="wizard">
                    <ul class="steps">
                        <li data-target="#step1" class="active">
                            <span class="badge badge-info">1</span>
                                Information
                                <span class="chevron">
                            </span>
                        </li>
                        <li data-target="#step2"><span class="badge">2</span>
                            Optional Information<span class="chevron"></span></li>
                        <li data-target="#step3"><span class="badge">3</span>
                            Device<span class="chevron"></span></li>
                        <li data-target="#step4"><span class="badge">4</span>
                            Alerts<span class="chevron"></span></li>
                        <li data-target="#step5"><span class="badge">5</span>
                            Notifications<span class="chevron"></span></li>
                        <li data-target="#step6"><span class="badge">6</span>
                            CDSI<span class="chevron"></span></li>
                    </ul>
                    <div class="actions">
                        <button type="button" class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
                        <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="step-content">
                    @form(routes.Wizard.save(), 'class -> "form-horizontal", 'name -> "wizardForm") {
                      <div class="step-pane active" id="step1">
                          @wizard_user_info(personForm)
                      </div>
                      <div class="step-pane" id="step2">
                          @wizard_optional_user_info(personForm)
                      </div>
                      <div class="step-pane" id="step3">
                          @wizard_opq_device(opqDeviceForm)
                      </div>
                      <div class="step-pane" id="step4">
                          @wizard_opq_device_alert(alertNotificationForm)
                      </div>
                      <div class="step-pane" id="step5">
                          @wizard_alert_notifications(alertNotificationForm)
                      </div>
                      <div class="step-pane" id="step6">
                          @wizard_cdsi(opqDeviceForm)
                      </div>
                    }
                </div>
            </div>
        </div>
    </div>
}