@*
This file is part of opq-ao.

opa-ao is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

opa-ao is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with opq-ao. If not, see <http://www.gnu.org/licenses/>.

Copyright 2013 Anthony Christe
*@

@(opqDeviceForm: Form[models.OpqDevice])

  @import helper._
  @implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
  }

  <div class="row">
    <input type="hidden" name="latitude" id="latitude" value=''>
    <input type="hidden" name="longitude" id="longitude" value=''>
    <div class="span4">
      @inputText(opqDeviceForm("city"), '_label -> "Device City", 'placeholder -> "Kailua-Kona", 'id -> "deviceCity", 'class -> "input-medium")
      @inputText(opqDeviceForm("zip"), '_label -> "Device Zip", 'placeholder -> "96739", 'id -> "deviceZip", 'class -> "input-medium")
      @inputText(opqDeviceForm("streetName"), '_label -> "Device Street Name", 'placeholder -> "Palani Rd",
        'id -> "deviceStreetName", 'class -> "input-medium")
      @inputText(opqDeviceForm("streetNumber"), '_label -> "Device Street Number", 'placeholder -> "111",
        'id -> "deviceStreetNumber", 'class -> "input-medium")
      @checkbox(opqDeviceForm("participatingInCdsi"), '_label -> "Participate in CDSI", 'id -> "participateInCdsi")
      <input type="hidden" name="participatingInCdsi" value="false" />
      <input type="button" id="previewLocation" value="Preview Location" class="btn btn-info pull-right" />
    </div>
    <div class="span5">
      <div id="wizard-map"></div>
    </div>
    <div class="span3">
      <div class="well well-small">
        <p class="bold">Community Data Sharing Initiative</p>
        <p>
                The Community Data Sharing Initiative (CDSI) allows users to opt-in for sharing their power quality
          information to the public. You may include as little or as much information as you feel comfortable
          with.
        </p>
        <p>
                Please note that all fields refer to the location of the device you registered in "step 3".
        </p>
        <p class="bold">Opting-In</p>
        <p>
                To opt-in to the Community Data Sharing Initiative, make sure "Participate in CDSI" is selected. Then,
          for each field that you would like to share with the public, fill it in. If you do not want to share
          a field with the public, leave it blank.
        </p>
        <p class="bold">
                When Finished
        </p>
        <p>
                This is the last step in the wizard. Review the information in previous steps and select "Finish" to
          save the changes and exit the wizard. Remember, all of this information can later be edited in the
          "Administration" section of the website.
        </p>
      </div>
    </div>
  </div>
@*
Start of cdsi map
*@
<script src="@routes.Assets.at("javascripts/leaflet.js")" type="text/javascript"></script>
<div id="cdsi-map" class="span9"></div>
<script type="text/javascript">
  /* Make sure the leaflet CSS is loaded */
  addDynamicCss ( '  @routes.Assets.at("stylesheets/leaflet.css") ');

  /* Since the state is in a select box, we need to get the value of it when it changes */
  //var state;

  //$("#deviceState" ).change(function(){
  //  state = $(this ).val();
  //});

  /* Construct an instance of the leaflet map using OSM tiles */
  var map           = L.map ( 'wizard-map' ) ;
  var osmUrl        = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png' ;
  var osmAttrib     = 'Map data © OpenStreetMap contributors' ;
  var osm           = new L.TileLayer ( osmUrl, { attribution : osmAttrib } ) ;
  var boundingBoxLayer = new L.layerGroup( ).addTo(map);
  var geoJsonLayer  = L.geoJson ( ).addTo ( map );
  var iconLayer = new L.layerGroup( ).addTo(map);
  var deviceMarker = L.icon({iconUrl: '@routes.Assets.at("images/opq-icon.png")'});
  map.addLayer ( osm ) ;
  map.setView ([ 21.4667, - 157.9833 ], 10 ) ;

  /* When the preview button is clicked, update the map */
  $("#previewLocation" ).on("click", function (event) {
    //console.log(state);
    getMapInfo();
  });

  /* Makes an ajax json request using the current available address information */
  function getMapInfo() {
    var state         = $ ( "#deviceState" ).val( );
    var city          = $ ( "#deviceCity" ).val( );
    var zip           = $ ( "#deviceZip" ).val( );
    var streetName    = $ ( "#deviceStreetName" ).val ( );
    var streetNumber  = $ ( "#deviceStreetNumber" ).val ( );
    var query         = streetNumber + " " + streetName + " " + city + " " + state + " " + zip;
    console.log(query);
    var nominatimApi = "http://nominatim.openstreetmap.org/search/";

    /* Make the actual request. Once the data has been received, call updateMap with new data */
    $.getJSON ( nominatimApi, {
      q : query,
      countrycodes : "us",
      format : "json",
      polygon_geojson : 1,
      email : "achriste@@hawaii.edu"
    }).done(function (data) {
      updateMap(data);
    });
  }

  /* Attempts to draw a bounding box, polygon, and marker of with given address information */
  function updateMap(data) {
    /* First clear the map */
    clearMap();

    /* The leaflet API may return multiple locations. The first location _should_ be the one we're looking for,
       but there is no guaranty. Handling multiple locations might take some thinking, so hopefully the first
       location returned works.
     */
    var dataIndex = 0;

    /* Retrieve data passed in from json request */
    var boundingBoxCoords = data[ dataIndex ].boundingbox;
    var latitude = data[ dataIndex ].lat;
    var longitude = data[ dataIndex ].lon;
    var polygon = data[ dataIndex ].geojson;

    /* Update the hidden lat/lon fields */
    $("#latitude" ).val(latitude);
    $("#longitude" ).val(longitude);

    /* Create bounding box polygon */
    var southWest   = new L.LatLng(boundingBoxCoords[0], boundingBoxCoords[2]);
    var northEast   = new L.LatLng(boundingBoxCoords[1], boundingBoxCoords[3]);
    var bounds      = new L.LatLngBounds ( southWest, northEast ) ;
    L.polygon ([
      bounds.getNorthWest ( ),
      bounds.getNorthEast ( ),
      bounds.getSouthEast ( ),
      bounds.getSouthWest ( )
    ], {color: 'red'} ).addTo(boundingBoxLayer);

    /* Create geojson polygon */
    geoJsonLayer.addData ( polygon ) ;

    /* Add device icon */
    L.marker([latitude, longitude], {icon: deviceMarker}).addTo(iconLayer)
    .bindPopup("Latitude: " + latitude + "<br />" + "Longitude: " + longitude);

    /* Center over new latitude/longitude */
    map.panTo([latitude, longitude], 10);
  }

  /*
    Clears all layers on the map and re-initializes them.
   */
  function clearMap() {
    map.removeLayer(geoJsonLayer);
    map.removeLayer(boundingBoxLayer);
    map.removeLayer(iconLayer);
    geoJsonLayer = L.geoJson ( ).addTo ( map ) ;
    boundingBoxLayer = new L.layerGroup( ).addTo(map);
    iconLayer = new L.layerGroup( ).addTo(map);
  }
</script>